*{
	margin: 0;
	padding: 0;
}



header{
	
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("12.jpg") ;
    height:  100vh;
    background-size: cover;
    background-position: center;

	
}
ul{
	list-style-type: none;
	float: right;
	margin: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 10px 30px;
	border: 1px solid #fff;


}
ul li a:hover{
	background-color: #fff;
	color:#000;
}
ul li.active a{
	background-color: #fff;
	color:#000;
}

.logo img{
	float: left;
	width: 200px;
	height: auto;

}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);



}

.title h1{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	font-size: 40px;
}

.left img{
	border:solid 1px #000000;
	width: 80%;
	margin: 10%;
	 
}
.left {
	 background-color: #708090;
    width: 156px;
    height: 398px;
     float: right;
 
    padding: 0%;
}





p {
	color: #00008B;
	text-transform: uppercase;
}

.main{
	max-width: 1200px;
	margin: auto;
}
.button{
     position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);


}
.btn {
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	
}
.btn:hover{
    background-color: #fff;
    color:#000;
    
}
